---
renderData:
  title: Redwood Crystals - "{{ tag }}""
layout: main.liquid
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /collections/{{ tag }}/

---

<h1 id="category-title">{{tag | capitalize }} Collection</h1>

<ul id="products">
  {% for product in collections[tag] %}
    {% if product.data.name %}
    <li>
      <a href="{{ product.url }}">
        <img alt="" src="{{ product.data.image }}" />

        {{ product.data.name }}
      </a>

      <p class="price">{{ product.data.price | money }}</p>
    </li>
    {% endif %}
  {% endfor %}
</ul>